@charset "utf-8";
button svg{width:15px;height:15px}
#toolboxToggle,
#showButton,
#hideButton,
#rotateButton,
#cancelButton,
#deleteButton{
  font-size: 1em;
  cursor: pointer;
  margin:0 10px 10px auto;
  width: 30px;
  height: 30px;
}
#hideButton {
  content: '🗑';
}
#hideButton {
  display: none;
}
#userfile {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid;
  margin: 0;
  opacity: .000001;
  cursor:pointer;
}

.load {
 animation: loading 3s linear infinite;
}
 @keyframes loading {
  to{ 
    transform: rotate(360deg);
  }
 }
#crop-container {
  flex-grow: 1;
  position: relative;
  top:0;
  left:0;
  z-index: 77;
}
#uimg {
  position: absolute;
  top: 0;
  margin-left: 0px;
  max-width: 100%
 
}

#toolbox {
 
  flex-direction: column;
  display:flex;
  width: 32px;
  margin-left: -40px;
}

