@charset "utf-8";

*{
	margin:0;
	padding:0;
}


body {
	font: 12px normal Arial, Helvetica, sans-serif;
	z-index: -4;
}


.filemanager {
  width: 70%;
  padding: 10px 15% 50px;
  
}
a:focus,a:active,a:hover{border:none}
.filemanager, .file-list,.folder-list,.breadcrumbs{background-color:#fffffe;}
.selection-rect {
  position: absolute;
  background-color: rgba(66, 139, 202, 0.1); /* Semi-transparent blue */
  border: 1px solid #428bca; /* Blue border */
  z-index: 1000; /* Ensure it's above other elements */
  pointer-events: none; /* Allow clicks to pass through */
}
.files.selected,
.folders.selected,.current{
  background-color: #e0f7fa;
  border: 1px solid #26a69a;
 }
img.loader{width:30px;height:30px;border-radius:100%}
.loader {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 100%;
  background: #a0d4e4;
  box-shadow: 0 0 0 0 rgba(66, 139, 202, 0.5);
  animation: l2 1.5s infinite linear;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 rgba(66, 139, 202, 0.1);
  animation: inherit;
  animation-delay: -0.5s;
}
.loader:after {
  animation-delay: -1s;
}
@keyframes l2 {
    100% {box-shadow: 0 0 0 40px #0000}
}
 
.load {
  animation: loading 3s linear infinite;
}
@keyframes loading {
  to{ 
    transform: rotate(360deg);
  }
 }
.filemanager .stats{
background: #DDD;
  height: 16px;
  padding-right: 5px;position: Sticky;
  top: 130px;}
.filemanager .stats span:last-child{font-size:12px;float:right}

.file-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.files{
  display: flex;
  flex-direction: column;
  text-align: center;box-shadow: 1px 1px 1px 1px #DDD;
  min-width: 120px;
  min-height: 120px;
}
.file{margin:5px}
.file img{border-radius:3px;}
.files:hover{box-shadow: 1px 1px 1px 1px #777;}
.filemanager .search {
	position: fixed;
	padding-right: 30px;
	cursor: pointer;
	right: 0;
	font-size: 17px;
	display: block;
	width: 40px;
	height: 40px;
}

.filemanager .search::after {
  content: '';
  width: 3px;
  height: 30px;
  background-color: #000;
  border-radius: 2px;
  position: absolute;
  top: 48px;
  right: 20px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.filemanager .search::before {
  content: '';
  position: absolute;
  margin-top: 19px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #000;
  right: 25px;
}

.filemanager .search input[type="search"] {
  border-radius: 2px;
  color: #4D535E;
  background-color: #FFF;
  width: 250px;
  height: 44px;
  margin-left: -250px;
  padding-left: 20px;
  text-decoration-color: #4d535e;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  display: none;
  outline: none;
  border: none;
  padding-right: 10px;
  margin-top: 20px;
}


.filemanager .dataContainer {
  gap: 10px; /* Spacing between items */
  user-select: none; /* Prevent text selection during drag */
  min-height:60vh
}
.filemanager .dataContainer ul {
  display:flex;
  gap: 20px;
  flex-wrap: wrap;
}
.filemanager .dataContainer li{
   list-style-type: none;
   height: 115px; 
   text-align: center;
   width:115px;
}

#upl, .breadcrumbs,.breadcrumbs ul, .folder-list{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  min-height: 130px;
position:sticky;top:0;}
.folder-list.slayer {
  min-height: 0px;
  margin-bottom: 10px;
}
#upl li,  .breadcrumb-list li{
	border-radius: 3px;
	text-align: center;
	height: 115px;
        min-width:115px;
	list-style-type: none;
	display: inline-block;
	position: relative;
	overflow: hidden;
	padding: 0.3em;
	z-index: 1;
	cursor: pointer;
	box-sizing: border-box;
	transition: 0.3s background-color;
}

.filemanager .dataContainer li:hover,#upl li:hover, .breadcrumb-list li:hover {
	background-color: #EEEEEE;

}
.files .tool, .folders .tool {
  display: none;
   width: 25px;
  }

.files:hover .tool, .folders:hover .tool {
  width: 25px;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  position:absolute;
 
}
.files .tool span, .folders .tool span {
  font-weight: bold;
  position:relative;
  color: white;
  width: 20px;
  padding: 1px 0 1px 0;
  display: block;
  border-radius: 50%;
  background: black;
  height: 18px;
   top:-10px;
   left:-10px
}

.filemanager .dataContainer li a img {
max-height: 79px;
border:none;
}
video,audio{max-width:250px}
.filemanager .dataContainer .name, .breadcrumb-list .name {
    color: #000000;
   text-align:center;
    display:block;
 max-width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;

}

.folders.drop-target {
  transition: transform 0.2s ease-in-out; /* Smooth transition for scaling */
}

.folders.drop-target.active {
  transform: scale(1.05); /* Slightly grow on active state */
  animation: shake 0.3s ease-in-out infinite alternate; /* Apply shake animation */
}
@keyframes shake {
  0% { transform: translateX(0) rotate(0deg) scale(1.05); }
  50% { transform: translateX(-1px) rotate(-1deg) scale(1.05); }
  100% { transform: translateX(1px) rotate(1deg) scale(1.05); }
}
.drag-over{background-color:transparent;}
.dragging{cursor: grab!important;border:1px dotted;}

footer{text-align:right;margin:1em  }
#upload {
 position:absolute;
 top:0;
}

       .box > *{height:115px;padding:5px 0}
       label {
 
  margin: 0 1px 10px;
  height: 90px;
  width: 100px;
  display: block;
}
	.box.is-dragover
	{
	outline-color: #c8dadf;
	background-color: #eeeeee;
        border:1px dotted #39bfd3;
    }
	.box__dragndrop,
	.box__icon,
            .box__button{
	display: none;
     }
	.box.has-advanced-upload .box__dragndrop
	{
	display: block;
        width:120px;
        height:120px
    }
	.box.has-advanced-upload .box__icon
	{
	width: 100%;
	height: 80px;
	fill: #92b0b3;
	display: block;
	}
	.box.is-uploading .box__input,
	.box.is-success .box__input,
	.box.is-error .box__input
	{
/*	visibility: hidden;*/
        }

	.box__uploading,
	.box__success,
    .box__error
    {
    display: none;
    }
					.box.is-uploading .box__uploading,
					.box.is-success .box__success,
					.box.is-error .box__error
					{
						display: block;
					-webkit-transform: translateY( -50% );
						transform: translateY( -50% );
					}
					.box__uploading
					{
						padding:10px;
                                                margin-top: 20px;
					}
					.box__success
					{
						-webkit-animation: appear-from-inside .25s ease-in-out;
						animation: appear-from-inside .25s ease-in-out;
					}
						@-webkit-keyframes appear-from-inside
						{
							from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
							75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
							to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
						}
						@keyframes appear-from-inside
						{
							from	{ transform: translateY( -50% ) scale( 0 ); }
							75%		{ transform: translateY( -50% ) scale( 1.1 ); }
							to		{ transform: translateY( -50% ) scale( 1 ); }
						}

					.box__restart
					{
					}
					.box__restart:focus,
					.box__restart:hover
					{
						color: #39bfd3;
					}

					.js .box__file
					{
    						width: 0.1px;
						height: 0.1px;
						opacity: 0;
						overflow: hidden;
						position: absolute;
						z-index: -1;
					}
					.js .box__file + label
					{
						max-width: 80%;
						text-overflow: ellipsis;
						white-space: nowrap;
						cursor: pointer;
						display: inline-block;
						overflow: hidden;
					}
					.js .box__file + label:hover strong,
					.box__file:focus + label strong,
					.box__file.has-focus + label strong
					{
						color: #39bfd3;
					}
					.js .box__file:focus + label,
					.js .box__file.has-focus + label
					{
						outline: 1px dotted #000;
						outline: -webkit-focus-ring-color auto 5px;
					}
						.js .box__file + label *
						{
							/* pointer-events: none; */ /* in case of FastClick lib use */
						}

					.no-js .box__file + label
					{
						display: none;
					}

					.no-js, .box__button
					{
						display: none;
					}
					.box__button
					{
						color: #e5edf1;
						background-color: #39bfd3;
						display: block;
						padding: 2px 16px;
						margin: 2px auto 0;
                                                display:none
					}
						.box__button:hover,
						.box__button:focus
						{
							background-color: #0f3c4b;
						}
#prog div{background:#000;height:5px;left:0px;}
#file{display:none}


/*-------------------------
		Icons
-------------------------*/

.icon {
	font-size: 23px;
}
.icon.folder {
    display: inline-block;
    margin: 10px 0 8px;
    background-color: transparent;
    overflow: visible; /* Changed from hidden to visible */
    box-shadow: 5px 6px 6px -5px black;
    position: relative; /* Added position: relative */
}

.icon.folder:before {
    content: '';
    float: left;
    background-color: #7ba1ad;
    width: 1.5em;
    height: 0.45em;
    margin-left: 0.07em;
    margin-bottom: -0.07em;
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
    box-shadow: 1.25em 0.25em 0 0em #7ba1ad;
}

.icon.folder:after {
    content: '';
    float: left;
    clear: left;
    background-color: #a0d4e4;
    width: 3em;
    height: 2.25em;
    border-radius: 0.1em;
}

/* New styles for the open state */
.drag-over .icon.folder {
  margin-left: -20px;
}
.drag-over .icon.folder:before {
  height: 0.55em;box-shadow: 1.25em 0.25em 0 0em darkblue;
}


.drag-over .icon.folder:after {
 
    clip-path: polygon(1px 99%,calc(90% - 26px) 100%,91% 4px,9px 5px);
    width: 200%;
}

.icon.folder.full:before {
	height: 0.55em;
}
.icon.folder.full:after {
	height: 2.15em;
	box-shadow: 0 -0.12em 0 0 #ffffff;
}

.icon.file {
	width: 2.5em;
	height: 3em;
	line-height: 3em;
	text-align: center;
	border-radius: 0.25em;
	color: #FFF;
	display: inline-block;
	margin: 5px;
	position: relative;
	overflow: hidden;
	box-shadow: 1.74em -2.1em 0 0 #A4A7AC inset;
}
.icon.file:first-line {
	font-size: 13px;
	font-weight: 700;
}
.icon.file:after {
	content: '';
	position: absolute;
	z-index: -1;
	border-width: 0;
	border-bottom: 2.6em solid #DADDE1;
	border-right: 2.22em solid rgba(0, 0, 0, 0);
	top: -34.5px;
	right: -4px;
}

.icon.file.f-avi,
.icon.file.f-flv,
.icon.file.f-mkv,
.icon.file.f-mov,
.icon.file.f-mpeg,
.icon.file.f-mpg,
.icon.file.f-mp4,
.icon.file.f-m4v,
.icon.file.f-wmv {
	box-shadow: 1.74em -2.1em 0 0 #7e70ee inset;
}
.icon.file.f-avi:after,
.icon.file.f-flv:after,
.icon.file.f-mkv:after,
.icon.file.f-mov:after,
.icon.file.f-mpeg:after,
.icon.file.f-mpg:after,
.icon.file.f-mp4:after,
.icon.file.f-m4v:after,
.icon.file.f-wmv:after {
	border-bottom-color: #5649c1;
}

.icon.file.f-mp2,
.icon.file.f-mp3,
.icon.file.f-m3u,
.icon.file.f-wma,
.icon.file.f-xls,
.icon.file.f-xlsx {
	box-shadow: 1.74em -2.1em 0 0 #5bab6e inset;
}
.icon.file.f-mp2:after,
.icon.file.f-mp3:after,
.icon.file.f-m3u:after,
.icon.file.f-wma:after,
.icon.file.f-xls:after,
.icon.file.f-xlsx:after {
	border-bottom-color: #448353;
}

.icon.file.f-doc,
.icon.file.f-docx,
.icon.file.f-psd{
	box-shadow: 1.74em -2.1em 0 0 #03689b inset;
}

.icon.file.f-doc:after,
.icon.file.f-docx:after,
.icon.file.f-psd:after {
	border-bottom-color: #2980b9;
}

.icon.file.f-gif,
.icon.file.f-jpg,
.icon.file.f-jpeg,
.icon.file.f-pdf,
.icon.file.f-png {
	box-shadow: 1.74em -2.1em 0 0 #e15955 inset;
}
.icon.file.f-gif:after,
.icon.file.f-jpg:after,
.icon.file.f-jpeg:after,
.icon.file.f-pdf:after,
.icon.file.f-png:after {
	border-bottom-color: #c6393f;
}

.icon.file.f-deb,
.icon.file.f-dmg,
.icon.file.f-gz,
.icon.file.f-rar,
.icon.file.f-zip,
.icon.file.f-7z {
	box-shadow: 1.74em -2.1em 0 0 #867c75 inset;
}
.icon.file.f-deb:after,
.icon.file.f-dmg:after,
.icon.file.f-gz:after,
.icon.file.f-rar:after,
.icon.file.f-zip:after,
.icon.file.f-7z:after {
	border-bottom-color: #685f58;
}

.icon.file.f-html,
.icon.file.f-rtf,
.icon.file.f-xml,
.icon.file.f-xhtml {
	box-shadow: 1.74em -2.1em 0 0 #a94bb7 inset;
}
.icon.file.f-html:after,
.icon.file.f-rtf:after,
.icon.file.f-xml:after,
.icon.file.f-xhtml:after {
	border-bottom-color: #d65de8;
}

.icon.file.f-js {
	box-shadow: 1.74em -2.1em 0 0 #d0c54d inset;
}
.icon.file.f-js:after {
	border-bottom-color: #a69f4e;
}

.icon.file.f-css,
.icon.file.f-saas,
.icon.file.f-scss {
	box-shadow: 1.74em -2.1em 0 0 #44afa6 inset;
}
.icon.file.f-css:after,
.icon.file.f-saas:after,
.icon.file.f-scss:after {
	border-bottom-color: #30837c;
}

/*upload styles*/
.container a{color: #39bfd3;}
.container footer p + p	{	margin-top: 1em;	}
.container footer a:hover,
.container footer a:focus{color: #39bfd3;}
#uploadstats {
  display:none;
  position: fixed;
  top: 159px;
  background: white;
  z-index: 2;
  padding: 15px;
  left: 180px;
  width: 50%;
  border: 1px solid;
  margin: 10px auto 50px;
}